# Binaries
/bin/
/build/
/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Temporary files
*.log
*.out
*.tmp

# Go module files
go.sum

# IDE/editor configuration files
.vscode/
.idea/
*.swp

# Environment and secret files
.env
.env.*
